.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.sub_title {
    color:  #2c3e50;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.join_ul_box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 50px;
}
.join_ul {
    width: 100%;
    padding: 20px 10px 0px 10px;
    border-top: 1px solid #2c3e50;
    box-sizing: border-box;
}
.two_btn {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.two_btn button{
    width: calc(50% - 20px);
    height: 40px;
    border-radius: 5px;
    background: #2c3e50;
    color: #f79521;
    font-weight: 700;
    font-size: 16px;
    display: block;
    border: none;
    margin: 0 !important;
}
.join_btn {
    width: calc(100% - 20px);
    height: 40px;
    border-radius: 5px;
    background: #2c3e50;
    color: #f79521;
    font-weight: 700;
    font-size: 16px;
    margin: 20px auto 20px;
    display: block;
    border: none;
}
.join_ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.join_ul li:last-child {
    margin-bottom: 0;
}
.join_ul li p {
    width: 115px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
}
.join_ul li>div{
    display: flex;
    align-items: center;
    width: calc(100% - 110px);
    margin-left: 10px;
}
.join_ul li>input {
    width: calc(100% - 110px);
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-left: 10px;
}
.join_ul li>div>input {
    width: calc(100% - 110px);
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}
.join_ul li>div>div {
    width: calc(100% - 110px);
    display: flex;
    align-items: center;
}
.join_ul li>div>div>input {
    width: calc(100% - 170px);
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}
.join_ul li>div>div>span {
    width: 20px;
    text-align: center;
}
.join_ul li>div>div>select {
    width: 150px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}
.join_ul li>div.phone{
    display: flex;
    align-items: center;
}
.join_ul li>div.phone span {
    width: 15px;
    text-align: center;
}
.join_ul li>div.phone select {
    width: calc(34% - 10px);
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}
.join_ul li>div.phone input {
    width: calc(34% - 10px);
}
.join_ul li>div>button {
    width: 100px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    background: #1f76bc;
    color: #fff;
    font-weight: 500;
    border: none;
    transition: 0.2s;
}
.join_ul li>div>button:hover {
    background: #2c3e50;
}